<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Patterns.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ThisProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZPatterns.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00991C42199BDBE900E0A201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00991C54199BDBE900E0A201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A967822119E5B20F006A439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A967822B19E5B20F006A439F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99ACD1C19E716A80076D8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99ACD2619E716A80076D8FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
